# AI System paths dir
machine_learning/yolo/venv/
# root dir
venv
guide.txt
# . dirs
.310venv
.vscode
# Unused files
machine_learning/unused/
system/unused/
# Logs
system/detections.log
system/detections.csv
# cache
__pycache__/
system/__pycache__/
machine_learning/yolo/__pycache__/
system/core/__pycache__/